:root {
  --delicia-orange: #f5af30;
  --dark-orange: #dc5f01;
  --off-orange: #f5e6cb;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #201e1c;
  --warm-grey: #bababa;
  --grey: #757575;
  --dark-grey: #808080;
  --just-white: #fff;
  --color1: #04FF9D;
  --color2: #EF43BA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Dm Sans", sans-serif;
}
